body{
	background:url("bg.jpg");
	margin:auto;
	background-size: cover ;
	background-repeat: repeat;
	background-position: center;
	text-align:center;
	
}
#content{
	width:60%;
	font-family:Microsoft JhengHei;
	background-color: rgba(255, 255, 255, 0.7);
	background-position: center;
	overflow: hidden;
	text-align:left;
	margin:auto;
	margin-top: 3vh;
	margin-bottom: 3vh;
	padding: 5px 50px;
	
}
#post{
	width:100%;
}
#pic{
	width:50%;
	text-align:center;
	display: block;
    margin: auto;
}
#pink{
	position:fixed;
	top:10vw;
	width:15vw;
	display: block;
	margin: auto;
	left:0vw;
}
#ngop{
	position:fixed;
	top:10vw;
	width:15vw;
	display: block;
	margin: auto;
	right:0vw;
}
#likea{
	position:fixed;
	top:26vw;
	width:15vw;
	display: block;
	margin: auto;
	left:0vw;
}
#likeb{
	position:fixed;
	top:26vw;
	width:15vw;
	display: block;
	margin: auto;
	right:0vw;
}