body{
	background:url("bg.jpg");
	margin:auto;
	background-size: cover ;
	background-repeat: repeat;
	background-position: center;
	text-align:center;
	
}
#content{
	width:70%;
	font-family:Microsoft JhengHei;
	background-color: rgba(255, 255, 255, 0.7);
	background-position: center;
	overflow: hidden;
	text-align:left;
	margin:auto;
	margin-top: 3vh;
	margin-bottom: 3vh;
	padding: 5px 50px;
	
}
#pic{
	width:40%;
	text-align:center;
	display: block;
    margin: auto;
}
